In [1]:
import pandas as pd

In [4]:
column_names = [ 'Class_Name','Left_Weight','Left_Distance','Right_Weight','Right_Distance']

In [6]:
df =  pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data", names = column_names)

In [7]:
df

    Class_Name  Left_Weight  Left_Distance  Right_Weight  Right_Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

#Check the number of data points and features in the data.

In [9]:
df.shape

(625, 5)

In [11]:
df.head(10)

  Class_Name  Left_Weight  Left_Distance  Right_Weight  Right_Distance
0          B            1              1             1               1
1          R            1              1             1               2
2          R            1              1             1               3
3          R            1              1             1               4
4          R            1              1             1               5
5          R            1              1             2               1
6          R            1              1             2               2
7          R            1              1             2               3
8          R            1              1             2               4
9          R            1              1             2               5

In [12]:
df.tail(10)

    Class_Name  Left_Weight  Left_Distance  Right_Weight  Right_Distance
615          L            5              5             4               1
616          L            5              5             4               2
617          L            5              5             4               3
618          L            5              5             4               4
619          L            5              5             4               5
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

#Find unique values for each column.

In [13]:
df['Class_Name'].unique()

array(['B', 'R', 'L'], dtype=object)

In [14]:
df['Class_Name'].nunique()

3

In [15]:
df['Left_Weight'].unique()

array([1, 2, 3, 4, 5])

In [16]:
df['Left_Weight'].nunique()

5

In [17]:
df['Left_Distance'].unique()

array([1, 2, 3, 4, 5])

In [18]:
df['Left_Distance'].nunique()

5

In [19]:
df['Right_Weight'].unique()

array([1, 2, 3, 4, 5])

In [20]:
df['Right_Weight'].nunique()

5

In [21]:
df['Right_Distance'].unique()

array([1, 2, 3, 4, 5])

In [22]:
df['Right_Distance'].nunique()

5

#Check the data types of values in each column.

In [23]:
df.dtypes

Class_Name        object
Left_Weight        int64
Left_Distance      int64
Right_Weight       int64
Right_Distance     int64
dtype: object

#Check basic statistics of data.

In [25]:
df.describe()

       Left_Weight  Left_Distance  Right_Weight  Right_Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

#Add a new column in the data.

In [26]:
df['Total_Weight'] = df.iloc[:,[1,3]].sum(axis = 1)

In [27]:
df

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

#Then drop this column just created.

In [28]:
#Alternate Method 

# def df['Total_Weight']

df = df.drop('Total_Weight', axis = 1)

In [29]:
df

    Class_Name  Left_Weight  Left_Distance  Right_Weight  Right_Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

#create a new column that has values found as a result of applying some operation on the existing columns

In [30]:
df['Total_Weight'] = df.iloc[:,[1,3]].sum(axis = 1)

In [31]:
df

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

In [32]:
df['Total_Distance'] = df.iloc[:,[2,4]].sum(axis = 1)

In [33]:
df

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight,Total_Distance
0,B,1,1,1,1,2,2
1,R,1,1,1,2,2,3
2,R,1,1,1,3,2,4
3,R,1,1,1,4,2,5
4,R,1,1,1,5,2,6
...,...,...,...,...,...,...,...
620,L,5,5,5,1,10,6
621,L,5,5,5,2,10,7
622,L,5,5,5,3,10,8
623,L,5,5,5,4,10,9
624,B,5,5,5,5,10,10

#Access elements using loc and iloc.

In [40]:
df.shape

(625, 7)

In [35]:
df.iloc[1:5,[0,1]]

  Class_Name  Left_Weight
1          R            1
2          R            1
3          R            1
4          R            1

In [36]:
df.iloc[0]

Class_Name        B
Left_Weight       1
Left_Distance     1
Right_Weight      1
Right_Distance    1
Total_Weight      2
Total_Distance    2
Name: 0, dtype: object

In [37]:
df.iloc[[1]]

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight,Total_Distance
1,R,1,1,1,2,2,3

In [38]:
df.iloc[0:2]

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight,Total_Distance
0,B,1,1,1,1,2,2
1,R,1,1,1,2,2,3

In [39]:
df.iloc[:]

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight,Total_Distance
0,B,1,1,1,1,2,2
1,R,1,1,1,2,2,3
2,R,1,1,1,3,2,4
3,R,1,1,1,4,2,5
4,R,1,1,1,5,2,6
...,...,...,...,...,...,...,...
620,L,5,5,5,1,10,6
621,L,5,5,5,2,10,7
622,L,5,5,5,3,10,8
623,L,5,5,5,4,10,9
624,B,5,5,5,5,10,10

In [41]:
df.iloc[0,0]

'B'

In [42]:
df.iloc[0,[1,3]]

Left_Weight     1
Right_Weight    1
Name: 0, dtype: object

In [43]:
df.iloc[[0],[1,3]]

   Left_Weight  Right_Weight
0            1             1

In [45]:
df.iloc[:,[2]]

     Left_Distance
0                1
1                1
2                1
3                1
4                1
..             ...
620              5
621              5
622              5
623              5
624              5

[625 rows x 1 columns]

In [46]:
df.head(2)

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight,Total_Distance
0,B,1,1,1,1,2,2
1,R,1,1,1,2,2,3

In [48]:
df.loc[0]

Class_Name        B
Left_Weight       1
Left_Distance     1
Right_Weight      1
Right_Distance    1
Total_Weight      2
Total_Distance    2
Name: 0, dtype: object

In [51]:
df.loc[0,'Class_Name']

'B'

In [53]:
df.loc[[1],['Class_Name','Total_Weight']]

  Class_Name  Total_Weight
1          R             2

In [54]:
df.loc[1:5,['Class_Name','Total_Distance']]

  Class_Name  Total_Distance
1          R               3
2          R               4
3          R               5
4          R               6
5          R               2

In [56]:
df.loc[1:4,'Class_Name':'Left_Distance']

  Class_Name  Left_Weight  Left_Distance
1          R            1              1
2          R            1              1
3          R            1              1
4          R            1              1

In [57]:
df.loc[df.Total_Distance >= 6, ['Class_Name']]

    Class_Name
4            R
9            R
14           R
19           R
24           R
..         ...
620          L
621          L
622          L
623          L
624          B

[375 rows x 1 columns]

#Check if there are missing values. If yes, which column.

In [60]:
df.isnull().head()

,Class_Name,Left_Weight,Left_Distance,Right_Weight,Right_Distance,Total_Weight,Total_Distance
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False

In [59]:
df.isnull().sum()

Class_Name        0
Left_Weight       0
Left_Distance     0
Right_Weight      0
Right_Distance    0
Total_Weight      0
Total_Distance    0
dtype: int64

#Assignment_2 Compute_dict()

#Counting the frequencies in a list using dictionary in Python

In [68]:

def compute_dist(l1):

	# Creating an empty dictionary
	count = {}
	for item in l1:
		if (item in count):
			count[item] += 1
		else:
			count[item] = 1

	for key, value in count.items():
		print ("% d : % d"%(key, value))

if __name__ == "__main__":
	  l1 =[3, 4, 2, 1, 5, 1, 2, 4, 3, 4]

d1= compute_dist(l1)

 3 :  2
 4 :  3
 2 :  2
 1 :  2
 5 :  1